.super-mario {
    width: 200px;
  }
  
  .goomba {
    position: relative;
    width: 130px;
    left: 30px;
  }
  
  .baloon {
    width: 300px;
  }
  
  .speach {
    margin-left: 10px;
    margin-top: 50px;
    font-size: 25px;
    z-index: 1;
    position: absolute;
  }
  
  .bowser {
    width: 600px;
    margin-left: 180px;
    position: absolute;

  }