.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 370px;
  left: 60px;
}

.baloon {
  position: absolute;
  left: 250px;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 270px;
  z-index: 99;
  top: 100px;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 250px;
  left: 500px;
  width: 300px;
}